@font-face {
  font-family: "NEXON Lv2 Gothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family: "NEXON Lv2 Gothic Bold";
}

.search {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 1rem;
  left: 25%;
  width: 50%;
  height: 12rem;
  z-index: 100;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-size: 2rem;
  background: -webkit-linear-gradient(
    115deg,
    rgb(243, 135, 47),
    rgb(255, 3, 49)
  );
  background: linear-gradient(115deg, rgb(243, 135, 47), rgb(255, 3, 49));

  border-radius: 1rem;
}

.search__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search__title {
  display: flex;
  width: 12rem;
  height: auto;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.search__input {
  display: flex;
  border-radius: 50px;
  border: none;
  margin: 0.8rem 0.5rem;
  width: 14rem;
  height: 1.5rem;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.search__input::placeholder {
  font-family: var(--font-family);
  font-size: 300;
  padding-left: 0.4rem;
}

.search__form > button {
  width: 1.6rem;
  height: 1.6rem;
  background-color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
}

.description_container.visible {
  display: flex;
}

.description_container.invisible {
  display: none;
  height: 0;
}
