@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family: "NEXON Lv1 Gothic OTF";
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 100;
  position: fixed;
  top: 35%;
  right: 33%;
  background-color: white;
  width: 36rem;
  height: 30rem;
  color: black;
  box-shadow: 4px 4px 10px gray;
  background: url(../../img/description_bg.jpg);
  font-family: var(--font-family);
}

.description__desc_container {
  display: grid;
  grid-template-columns: repeat(1, 18rem);
  grid-template-rows: repeat(4, 3rem);
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.description__desc_container > div {
  display: flex;
  flex-direction: row;
}

.desc_ability,
.desc_types {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0.2rem;
}

.desc__title {
  display: flex;
  width: 5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  color: white;
  background: black;
  margin-right: 1rem;
  border-radius: 4px;
}

.description__img_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.description__img_container > img {
  width: 10rem;
  height: auto;
  margin: 0 1rem;
  border-radius: 50%;
}

.description > p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.description > button {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0.5rem;
  bottom: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: all ease;
}

.description > button:hover {
  transform: scale(1.1);
  color: rgb(255, 13, 53);
}
