.list {
  width: 50%;
  height: 100%;
  border-radius: 1rem;
  margin: auto;
  margin-top: 13.5rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 25rem);
  align-items: center;
  justify-content: center;
  box-shadow: 5px 4px 10px rgb(163, 177, 198, 0.6),
    -10px -10px 17px rgba(255, 255, 255, 0.384);
  background: white;
}

.list > img {
  width: 18rem;
  margin: 0 auto;
}
